<h1 class="mb-1 restaurant-show-title">
  {{#if restaurant.webpage}}
  <a href="{{ restaurant.webpage }}" class="link-title" style="text-decoration:none" target="_blank"
    data-toggle="tooltip" data-placement="bottom" title="連結至餐廳官方網站">
    {{/if}}
    {{restaurant.name}}
    {{#if restaurant.webpage}}
  </a>
  {{/if}}
</h1>
<div class="ratings">
  <div class="empty-star">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  </div>
  <div class="full-star">
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
    <i class="fa fa-star" aria-hidden="true"></i>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <a href="/restaurants/{{ restaurant._id }}/edit">
     <button class="btn btn-success mr-3 btn-motion">
      Edit
     </button>
    </a>
    <form action="/restaurants/{{ restaurant._id }}?_method=DELETE" method="POST" style="display: inline;"
      onsubmit="return deleteConfirm();">
      <button class="btn btn-danger mr-3 btn-motion">Delete</button>
    </form>
    <a href="/">
     <button class="btn btn-dark btn-motion">
      Back
      </button>
    </a>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      {{#if restaurant.name_en}}
      <p class="mb-2 sub-t">
        <span class="text-secondary">
          <i class="fas fa-signature pr-2"></i>
          英文名稱：
        </span>
        {{ restaurant.name_en }}
      </p>
      {{/if}}
      <p class="mb-2 sub-t">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{ restaurant.category }}
      </p>

      <p class="mb-2 sub-t">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{ restaurant.location }}
        <a href="{{ restaurant.google_map }}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs place-arrow"></i>
        </a>
      </p>
      {{#if restaurant.phone}}
      <p class="mb-2 sub-t">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{ restaurant.phone }}
      </p>
      {{/if}}
      {{#if restaurant.description}}
      <p class="my-5 px-3 py-2 show-des">
        <i class="fas fa-quote-left quote-left"></i>
        {{ restaurant.description }}
        <i class="fas fa-quote-right quote-right"></i>
      </p>
      {{/if}}
      <img class="rounded mx-auto d-block mb-5 w-100 res-image" src="{{ restaurant.image }}"
        alt="{{ restaurant.name_en }} image link crash" style="max-width: 600px;">
    </div>
  </div>
</div>
<script>
  const r = ({{ restaurant.rating }} * 20)
  const star = document.querySelector('.full-star')
  star.style = `width: ${r}%`
</script>